.button{
    font-family: 'Orelega One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;   
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 14px 0;
    width: 200px;
    img{
        margin-left: 20px;
    }
}
.blue{
    background: #0659A6;
}
.red{
    background: #ED1C24;

}